

<ng-container *ngIf="blogs">
    <div class="blog-container">
        <ng-container *ngFor="let blog of blogs">
        
            <mat-card class="blog">
                <mat-card-header>
                    <mat-card-title style="margin-right: 10px;">
                        {{blog.title}} 
                    </mat-card-title>
                    <p style="margin-left: auto;">{{blog.createdAt | now}}</p>
                </mat-card-header>
    
                <mat-card-content>
                    {{blog.description.substring(0, 500) + '...'}}
                </mat-card-content>
    
                <mat-divider></mat-divider>
                <mat-card-actions class="actions">
                    <button [routerLink]="['/blog', blog._id]" mat-stroked-button color="primary">View</button>
                    <button mat-stroked-button color="primary"><mat-icon fontIcon="share"></mat-icon>Share</button>
                </mat-card-actions>
    
              </mat-card>
       
        </ng-container>
    </div>
  
    

    


    

</ng-container>